body {
    font-family: Fantasy, "Times New Roman", Sans-serif;
    
    background-color: rgb(198, 229, 238);
    width: 600px;
    margin: 0 auto; 
}

img {
    height: 540px;
    width: auto;
}

li {
    padding: 10px;
}